* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}
header {
  background-color: #7ea6b9;
  padding: 0.5rem 0;
}
.btn-rounded {
  position: relative;
  padding: 0.93rem 3.3rem 0.93rem 1.2rem;
  font-weight: 700;
  margin: 15px;
  border: 0.1rem solid rgba(255, 255, 255, 0.6);
  overflow: hidden;
  transition: all 2s;
  background-image: radial-gradient(#e6eff3, #7ea6b9);
  opacity: 1;
  transition: opacity 1s;
}
.btn-rounded:hover {
  opacity: 0.5;
}
.rounded-pill {
  border-radius: 50rem;
}

#intro_section {
  background-color: #7ea6b9;
  padding: 6rem;
  background-image: linear-gradient(#7ea6b9, #a4b1b7);
}

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: white;
  font-size: 3.5rem;
  font-weight: 400;
}

.display-2-description {
  font-size: 1.4rem;
  display: inline-block;
}
.display-2-intro {
  animation-name: animate;
  animation-duration: 3s;
}

.download__title {
  text-align: center;
  margin-bottom: 3rem;
}
.download__logo-box {
  text-align: center;
  margin-bottom: 2rem;
  padding: 0, 5rem;
}
footer {
  background-color: black;
  padding-top: 1rem;
}
.footer-sm {
  background-color: #d2e2ea;
  color: rgb(7, 6, 6);
}
.footer-sm_icons {
  text-align: center;
  font-size: 1rem;
  margin-left: 1rem;
}
.footer-bottom__copyright {
  text-align: center;
  color: white;
  font-weight: 400;
}
.footer-bottom__copyright a {
  color: #98968d;
  text-decoration: none;
}
.section__help {
  background-color: #7ea6b9;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 500px;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 400px;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 70%;
  width: 30%;
  position: absolute;
}
.menu {
  background-color: #d2e2ea;
}

@keyframes animate {
  0% {
    margin-left: 100%;
    opacity: 0;
  }

  100% {
    margin-right: 0%;
    opacity: 1;
  }
}
